<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', filename='styles.css')}}" rel="stylesheet" type="text/css">
    <script crossorigin="anonymous"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <title>Coding Challenge</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('home_page') }}">Coding Challenge</a>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('home_page') }}">home
                        <span class="sr-only"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('put_api') }}">signup</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% block content %} {% endblock %}

<!--flash messages-->
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="container alert alert-dismissible alert-failure col-sm-4" style="margin-left:22rem">
    <strong>{{ message }}</strong>
</div>
{% endfor %}
{% endif %}
{% endwith %}


</body>
</html>