// Index -----------
.cover {
  background-image: linear-gradient(45deg, #124374 0%, #124374 100%);
  overflow: hidden;
  position: relative;
}

.hero-section-content-intro {
  color: #b1147d;
}

.wrapper {
  min-height: 100vh;
  min-width: 100vw;
  margin-top: 0;
  position: relative;
}

.main-section {
  width: 100%;
  padding: 70px 0 0;
}

.hero-section {
  h2 {
    font-weight: bold;
    margin-bottom: 10px;
  }

  color: #3bace5;
  width: 500px;
  position: relative;

  &-content {
    position: absolute;
    bottom: 20px;
    width: 360px;
    left: 6%;
    z-index: 1;

    &-intro {
      font-size: 17px;
    }
  }
}

.image {
  width: auto;
  max-width: 100%;
}

.hero-welcome-text > h1 {
  color: #3bace5;
  margin-top: 80px;
  text-align: center;
}

.hero-welcome-main > h1 {
  color: #3bace5;
  margin-top: 80px;
  font-size: 40px;
}

.hero-welcome-main2 > h1 {
  color: #3bace5;
  font-size: 30px;
}

.hero-welcome-main3 > p {
  color: #3bace5;
  font-size: 30px;
}

.hero-welcome-bio {
  margin-top: 20px;
  color: white;

  .list-inline-item {
    > a {
      color: #373737;
    }
  }

  div#line1 span#a {
    display: inline;
  }

  div#line1:hover span#a {
    display: none;
  }

  div#line1 span#b {
    display: none;
  }

  div#line1:hover span#b {
    display: inline;
  }
}

.hero-welcome-info {
  margin-top: 8px;
  color: white;
  font-size: 30px;

  .list-inline-item {
    > a {
      color: #373737;
    }
  }

  div#line1 span#a {
    display: inline;
  }

  div#line1:hover span#a {
    display: none;
  }

  div#line1 span#b {
    display: none;
  }

  div#line1:hover span#b {
    display: inline;
  }
}

.bottomportion {
  padding-top: 200x;
}

.hero-welcome-wrapper {
  justify-content: flex-end;
}

@media (max-width: 991px) {
  .hero-section {
    width: 341px;

    &-content {
      width: 341px;
    }
  }

  .hero-welcome-text > h1 {
    margin-top: 0px;
  }
}

.background-image {
  position: absolute;
  width: 1762px;
  height: 493px;
}

.shadow-custom {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  box-shadow: -17px 13px 41px rgba(13, 78, 158, 0.6);
  border: 2px solid #3bace5;

  .shadow-inner {
    width: 100%;
    height: 100%;
    box-shadow: -17px 13px 13px rgba(0, 0, 0, 0.09);
  }
}

.shadow-custom-2 {
  border: 2px solid #f37d49;
  box-shadow: -17px 13px 41px rgba(13, 78, 158, 0.3);
}

.imagesCarousel {
  display: block;
  height: auto;
}

.image1 {
  min-height: 100%;
  height: 32rem;
}

.tableContent {
  color: #3bace5;
}

.card_main {
  background: #1c3651;
  border-radius: 10px;
  overflow: hidden;
  max-width: 260px;
  padding-bottom: 20px;
  padding-top: 10px;
  padding-left: 20px;
  margin: 15px 10px;
}

.card_main_name > h2 {
  color: #e9e9ec;
  font-size: 16px;
  font-weight: bold;
}

.card_main_name >h3 {
  color: #e9e9ec;
  font-size: 12px;
  font-weight: bold;
}

.card_main_name > p {
  color: #e9e9ec;
  font-size: 10px;
}

 .card_main_button {
  align-items: center;
  padding: 5px 20px; 
  font-size: 10px !important;
}


.button1 {
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  background: linear-gradient(#ff21bc, #b21783);
  padding: 5px 15px;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 600;
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.4),
    inset -5px -10px 10px #b1147d;
  margin-right: 10px;
  cursor: pointer;
  width: 100px;
}



.button1:hover, .button1:focus, .button1:active {
  text-decoration: none;
  font-size: 14px;
  color: black !important;
  background: linear-gradient(#ff21bc, #b21783);
  padding: 5px 15px;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 600;
  box-shadow: inset 5px 5px 5px rgba(255, 255, 255, 0.4),
    inset -5px -10px 10px #b1147d;
  margin-right: 10px;
  cursor: pointer;
  width: 100px;

}


.button2 {
  text-decoration: none;
  font-size: 10px;
  color: #fff;
  background: linear-gradient(#21d3ff, #1793b2);
  padding: 5px 15px;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 600;
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.4),
    inset -5px -10px 10px #14a1b1;
  margin-right: 10px;
  cursor: pointer;
  width: 100%;
}



.button2:hover, .button2:active {
  text-decoration: none;
  font-size: 10px;
  color: black !important;
  background: linear-gradient(#21d3ff, #1793b2);
  padding: 5px 15px;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 600;
  box-shadow: inset 5px 5px 5px rgba(255, 255, 255, 0.4),
    inset -5px -10px 10px  #14a1b1;
  margin-right: 10px;
  cursor: pointer;
  width: 100%;

}

.modal {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  padding: 1rem;
  text-align: center;
  width: 30rem;
  z-index: 10;
  position: fixed;
  top: 20vh;
  left: calc(50% - 15rem);
}

.backdrop {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

