.mainContainer {
  width: 100%;
  display: flex;
  padding-top: 15px;
}



.maincontainer .left {
  width: 100%;
  overflow-y: scroll;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.maincontainer .left::-webkit-scrollbar {
  display: none;
}

.maincontainer .left .banner {
  height: 260px;
  border-radius: 0.5em;
  position: relative;
}

.maincontainer .left .banner .textContainer {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.maincontainer .left .banner .textContainer h1 {
  font-size: 3.5rem;
  font-weight: 700;
  color: #00b4cc;
  margin: 5px 0;
}

.maincontainer .left .banner .textContainer p {
  color: #03073c;
  font-size: 18px;
  margin: 5px 0;
}

.maincontainer .left .cards {
  background: #2e5984;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  border-radius: 0.5em;
}

.maincontainer .left .cards .filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 30px;
}

.maincontainer
  .left
  .cards
  .filters
  .filter_buttons
  .Button1
  .Button2
  .Button3
  .Button4 {
  display: flex;
  margin-right: 40px;
  color: secondary;
}

.maincontainer .left .cards .filters .filter_buttons .Button1::before {
  transition: all 0.3s;
}

.maincontainer .left .cards .filters .filter_buttons .Button1:active {
  background-color: #b1147d;
  color: secondary;
}

.maincontainer .left .cards .filters .filter_buttons .Button1:hover {
  background-color: #b1147d;
  color: secondary;
}

.maincontainer .left .cards .filters .filter_buttons .Button2::before {
  transition: all 0.3s;
}

.maincontainer .left .cards .filters .filter_buttons .Button2:active {
  background-color: #b1147d;
  color: secondary;
}

.maincontainer .left .cards .filters .filter_buttons .Button2:hover {
  background-color: #b1147d;
  color: secondary;
}

.maincontainer .left .cards .filters .filter_buttons .Button3::before {
  transition: all 0.3s;
}

.maincontainer .left .cards .filters .filter_buttons .Button3:active {
  background-color: #b1147d;
  color: secondary;
}

.maincontainer .left .cards .filters .filter_buttons .Button3:hover {
  background-color: #b1147d;
  color: secondary;
}

.maincontainer .left .cards .filters .filter_buttons .Button4::before {
  transition: all 0.3s;
}

.maincontainer .left .cards .filters .filter_buttons .Button4:active {
  background-color: #b1147d;
  color: secondary;
}

.maincontainer .left .cards .filters .filter_buttons .Button4:hover {
  background-color: #b1147d;
  color: secondary;
}

.maincontainer .left .cards main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.maincontainer .left .cards main .card_main {
  background: #1c3651;
  border-radius: 10px;
  overflow: hidden;
  max-width: 260px;
  padding-bottom: 20px;
  padding-top: 10px;
  padding-left: 20px;
  margin: 15px 10px;
}

.maincontainer .left .cards main .card_main .card_main_img {
  max-width: 100%;
  object-fit: cover;
}

.maincontainer .left .cards main .card_main .card_main_name {
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  margin-top: 10px;
}

.maincontainer .left .cards main .card_main .card_main_name h2 {
  color: #e9e9ec;
  font-size: 16px;
  font-weight: bold;
}

.maincontainer .left .cards main .card_main .card_main_name h3 {
  color: #e9e9ec;
  font-size: 12px;
  font-weight: bold;
}

.maincontainer .left .cards main .card_main .card_main_name p {
  color: #e9e9ec;
  font-size: 10px;
}

.maincontainer .left .cards main .card_main .card_main_button {
  align-items: center;
  padding: 5px 20px;
}

.popular {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular .inputBox {
  width: 100%;
  max-width: 350px;
  height: 45 px;
  position: relative;
}

.popular .inputBox input {
  width: 100%;
  height: 100%;
  background: #00b4cc;
  border: none;
  outline: none;
  border-radius: 0.5em;
  box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.4);
  text-align: center;
  color: black;
  font-size: 16px;
  padding: 5px 40px;
  cursor: pointer;
}

.popular .inputBox input::placeholder {
  color: #757380;
}

.popular .inputBox i {
  position: absolute;
  top: 0px;
  left: 0px;
  color: #757380;
  width: 40px;
  height: 45px;
  text-align: center;
  line-height: 30px;
}

@media screen and (max-width: 525px) {
  .maincontainer {
    flex-direction: column;
    height: auto;
  }

  .maincontainer .left {
    width: 100%;
  }

  .maincontainer .left .banner .textContainer h1 {
    font-size: 2.5em;
  }

  .maincontainer .left .cards main .card_main {
    max-width: 325px;
  }

  .maincontainer .left .cards .filters .filter_buttons {
    display: none;
  }
}

@media only screen and (min-width: 525px) and (max-width: 950px) {
  .maincontainer {
    height: calc(100% - 25px);
  }
  .maincontainer .left {
    width: calc(100%);
  }

  .maincontainer .left .cards main .card_main {
    max-width: 230px;
    margin: 20px 5px;
  }

  .maincontainer .left .cards .filters {
    padding: 0;
  }
}

menu {
  width: 100px;
  height: 100%;
  background: #1e3f66;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  position: sticky;
  top: 0;
  --bs-link-color: none;
  --bs-link-hover-color: none;
}

#MCLogoV2 {
  width: 3em;
  padding-top: 30px;
}

menu ul {
  padding-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  color: #8c8a95;
}

menu ul li {
  list-style: none;
  margin: 30px 0;
  position: relative;
  color: #8c8a95;
  width: 100%;
  text-align: center;
  left: -20px;
}

menu ul li a {
  font-size: 15px;
  color: #8c8a95;
  text-decoration: none;
  transition: all 0.3s;
}

menu ul li.active a::before {
  width: 20px;
  transition: all 0.5s;
  color: #00b4cc;
}

menu ul li.active a {
  text-decoration: bold;
  text-shadow: 1px white;
  font-size: 20px;
  list-style: none;
  color: #00b4cc;
  --bs-link-color: #00b4cc;
}

menu ul li:hover a {
  color: #73a5c6;
  --bs-link-hover-color: #00b4cc;
}

.lastMenu {
  margin-top: auto;
}

@media only screen and (max-width: 525px) {
  menu {
    min-width: 68px;
    width: 68px;
  }
}

.divider {
  width: 5px;
  height: auto;
  display: inline-block;
}

.modal {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  padding: 1rem;
  text-align: center;
  width: 30rem;
  z-index: 10;
  position: fixed;
  top: 20vh;
  left: calc(50% - 15rem);
}

.backdrop {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}


.table {
  color: #3bace5;
  text-decoration: none;
  
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
	color: #3bace5;
}


.modal-backdrop {
  /* bug fix - no overlay */    
  display: none;    
}